<!--NAVIGATION-->


[[step01. 기본 연산 학습 page로 이동](step01Calculation.ipynb) ]   |   [[step03_1. 데이터 타입 학습 page로 이동](step03_1DataType.ipynb) ]

## 조건문 & 반복문을 이용한 프로그램 응용력 향상하기

1. 연산자
> 1. = : 오른쪽의 데이터를 왼쪽에 대입(할당) 연산자
> 2. == : 동등비교 연산자
> 3. != : 부정 연산자


2. 조건식
> 1. pass : 아무것도 실행하지 않음, 단순히 실행할 코드가 없다는 의미
> 2. continue : 해당 로직을 제외하고 다음 loop 실행하란 의미

3. 반복문 : 동일한 명령문을 여러번 실행
> 1. for : 정해진 횟수만큼  반복하는 구조<br>
> 2. while : 어떤 조건이 만족되는 동안, 반복을 계속하는 구조

4. 키워드
> 1. def - 사용자 정의 함수를 만들겠다는 선언구 
> 2. return - 함수 내부에서 해당 함수를 호출한 곳으로 값을 돌려주는 키워드
> 3. if / elif / else - 조건식
> 4. True / False - boolean 표현

5. IT 언어I 표현

> 1. 함수 실행시 새로운 데이터를 ()표기로 선언된 변수로 받음
> 2. def함수명(변수선언):
> 3. 변수선언 자체를 parameter 또는 argument 또는 인자 또는 매개인자.

In [ ]:
'''
조건문
1. 조건이 true인 경우에만 하는 상황

2. 조건이 true인 경우와 false 경우 실행되는 로직이 명확히 구분되어야 할 상황

3. 조건이 여러개인 경우의 상황


---
1. 로그인 인증 
  id/pw 둘다 인증
    경우의 수 1 - id와 pw 비교시 id도 true 그리고 pw도 true    O
    경우의 수 2 - id는 true 또는 pw는 true   (id가 true 이거나 또는 pw가 true 즉 둘중에 하나만 true 여도 되는 상황을 표현) X

    경우의 수 3 - id는 true 그리고 pw는 false     X
    경우의 수 4 - id는 false 그리고 pw는 true     X
    경우의 수 5 - id는 false 그리고 pw는 false    X

2. 의사 코드
  말로 하는 코딩
  말로 하는 로직의 흐름을 서술하는 형식 의사 코드
  문법은 고려하지 않음 표현

  경우의 수 1 : 
  만약에 id가 true라면           if id==True:
    pw가 true인지 비교              if pw==True

  
  경우의 수 2 : 
    만약에 id가 true이고  pw가 true인지 비교          if id==True and pw==True

  경우의 수 3  - 부적합
     만약에 id가 true 또는  pw가 true인지 비교 
    if id==True 개별 문장
    if pw==True 개별 문장
    ....

'''

In [ ]:
# True인 경우만 고려하는 단일 조건식
if True:
  print("True인 경우만 실행")

True인 경우만 실행

In [ ]:
if 'a' == 'a':
  print("True인 경우만 실행")

True인 경우만 실행

In [ ]:
if 'a' != 'a':
  print("True인 경우만 실행")

In [ ]:
# True인 경우와 false 경우를 고려하는 조건식
# if else
# :  콜론이라 읽음    , 콤마    ; 세미콜론
if 'a' != 'a':
  print("True인 경우만 실행")
else:
  print("조건식이 False인 경우만 실행")

조건식이 False인 경우만 실행

In [ ]:
# 다중 조건식
# if / elif / else
a = 10

if a < 5:  
  print("5보다 작다") 
elif a <= 10 :
  print("10보다 작거나 같다") 
else:
  print("이도저도 아니더라")

10보다 작거나 같다

In [ ]:
# python 에서 기능을 재사용 할수 있게 구현하는 함수 개발
# def 함수명( [new데이터 받을수 있는 문법 공간] ):
#   함수 로직
#   [결과값 반환 로직]

def my_fun(a):
  if a < 5:  
    print("5보다 작다") 
  elif a <= 10 :
    print("10보다 작거나 같다") 
  else:
    print("이도저도 아니더라")

my_fun(10)

10보다 작거나 같다

In [ ]:
my_fun(3)

5보다 작다

In [ ]:
# ???  실시간 입력되는 데이터는 문자열, playdata 라는 문자열에 한해서만 encore 출력되게 만들기

def edu_name(msg):
  if msg == 'playdata':
    print('encore')
  else:
    print('틀렸어')

In [ ]:
edu_name('encore')    # 틀렸어 출력

틀렸어

In [ ]:
edu_name('playdata')   # encore 출력

encore

In [ ]:
def edu_name2(msg):
  if msg == 'playdata':
    return 'encore'
  else:
    return '틀렸어'

In [ ]:
# 함수 실행 결과값을 받아서 새로운 문자열 조합해서 출력 
# + 기호의 기능 두가지
# + : 산술 연산의 더하기 / 데이터들 결합 

# 결합 연산자

print("반환된 결과값 " + edu_name2('encore'))

반환된 결과값 틀렸어

```
  ` : 백틱 이라 읽음
  
  print("반환된 결과값 " + edu_name2('encore')) 

  1. print() : 콘솔창에 출력하는 기능의 내장 함수
  2. eud_name2() : python 사용하는 개발자를 [python 언어] 사용자가 구현한 함수 (사용자 정의 함수)

  3. 실행 순서
    print() 호출(call) -> "반환된 결과값 " 문자열이 메모리에 생성 -> + 실행 시작 -> edu_name2('encore') 호출 시작 -> encore 문자열 생성 -> 실행 edu_name2 실행 -> 결과값이 반환되어 옴 -> + 연산자가 결과값 결합 -> print() 실행 즉 출력 마무리 
```

In [ ]:
# ??? 두개의 데이터 받아서 더한 결과값을 반환(return)하는 더하기(산술연산 + ) 함수 만들기

def my_sum(v1, v2):
  return v1 + v2   # return 이 기능의 함수를 호출한 곳으로 값을 전달하는 기능의 키워드

In [ ]:
# 다수의 데이터들은 , 가 구분자
# 두개의 메모리 필요
print(my_sum(10, 20))   # 30

30

In [ ]:
print(my_sum(100, 20))   # 120

120

In [ ]:
def my_sum(v1, v2):
  v1 + v2  # 더하기만 하고 끝남 즉 이 함수 기능을 통해서 더한 결과값을 활용하기 위해 다른 곳에서 호출한 경우 더한 결과값 못받음

### 1. 입력하는 id값(실시간 가변적인 동적 데이터)을 받아서 로직 수행 후 검증한 결과값을 client에게 반환
### 2. client 는 데이터를 입력 ->server에 전송
### 3. server는 데이터를 받고 -> 검증 -> 인증 결과값을 client에게 응답(출력, 결과 리턴)


데이터 받고 - 받을수 가변적인 문법
처리하고  - 조건 비교
리턴 - return 

여러명이 요청하는 로직 - 재사용성 고려
필요시 마다 호출 - 이름


def 이름(데이터 받는 영역):

  if ...:  
  elif ... :
  else:

  return 결과값;

In [1]:
# 그리고 와 또는 -> 프로그래밍화
# 조건식에 반영시 and : 해당 조건들 모두 True인 경우에 유효
# or : 해당 조건들 중 하나만이라도 true라면 유효

# 조건식1 and 조건식2
# 조건식1 or 조건식2

if 'a' == 'a' and 'b'=='b' :
    print('두 조건 True')

두 조건 True

In [4]:
if 'a' == 'a2' or 'b'=='b' :
    print('두 조건 중 하나만 True여도 가능')

두 조건 중 하나만 True여도 가능

In [8]:
if 'a' == 'a2' and 'b'=='b' :
    print('두 조건 중 하나만 True여도 가능')

In [12]:
# id/pw를 인증해주는 함수 - encore / 77 만 유효 가정

# 방법1

def login_check(id, pw):
    
    if id=='encore' and pw==77 :
        print("인증성공")
    else :
        print('인증실패')

        
login_check("encore", 77)

인증성공

In [14]:
login_check("encore", 7)

인증실패

In [17]:
# 방법2 - 중첩 조건문

def login_check(id, pw):
    
    if id=='encore' :
        if pw==77 :
            print("인증성공")
        else:
            print('pw만 인증 실패')
    else :
        print('id 인증 실패')
        
login_check('encor', 77)

id 인증 실패

In [18]:
v = 'string'

if v:
    print(True)
else:
    print(False)

True

In [19]:
v = ''   #길이가 0인 blank 문자열

if v:        # v페 데이터 있어? 없어? 에 대한 조건식
    print(True)
else:
    print(False)

False

In [20]:
# 다수의 데이터들을 하나의 변수로 관리
v = 1      # 하나의 데이터를 보유하게 되는 변수
v2 = [1, 2, 3]   #list 구조의 다수의 데이터 관리, list라는 타입

v3 = []     #데이터가 없는 list들은 조건식 비교 표현식 없이도 False
if v3:
    print(True)
else:
    print(False)

False

In [29]:
v = input()  # 실행시 실시간 입력 가능하게 해주는 함수
print(v)  #  입력된 데이터를 출력
print(type(v))   # 입력되는 모든 데이터는 str(python 문자열)

# 사칙 연산과 같은 연산 작업이 피수인 경우 str -> 숫자(int or float)
print(type(int(v)))     # int() int로 형변환 하는 함수

22
22
<class 'str'>
<class 'int'>

**미션1. 윤년  프로그램을 통한 연산자 및 조건식 이해하기**

- 4로 나누어 떨어지는 년도 : 값 % 4이 0    
- 그 중 100으로 나누어 떨어지는 년도는 윤년이 아님 : 값 % 100 의 0과 비교
- 400으로 나누어 떨어지는 년도는 무조건 윤년 : 1+2 또는 3번째 조건식 비교( 값 % 400와 0 비교)

In [16]:
def leap_year(a):
    a = int(input('윤년입니까? : '))
    if a%4==0 and a%100!=0 :
        print('윤년')
    else:
        if a%400==0 :
            print('윤년')
        else :
            print('윤년아님')

In [18]:
leap_year(2000)

윤년입니까? : 2000
윤년

In [15]:
leap_year(1000)

윤년입니까? : 1000
윤년아님

**미션2. 문자열의 중간 문자를 추출해 보기**

실시간 입력되는 문자열의 중앙에 있는 문자를 출력한다. 예를 들어서 문자열이 "weekday"이라면 중앙의 문자는 "k"가 된다.<br>
하지만 만약 문자열이 짝수개의 문자를 가지고 있다면 중앙의 2개의 글자를 출력한다.<br>
예를 들어서 "string" 문자열에서는 "ri"를 반환한다.

In [31]:
# 문자열의 길이값을 반환
# 문자열 길이 확인 후에 호출한 곳으로 길이값 반환(리턴값)

len('test'), len('string'), len('weekday')

(4, 6, 7)

In [33]:
7/2, 7//2

(3.5, 3)

In [34]:
v = 'string'
c1 = v[0]
c2 = v[2]
print(type(v))   #<class 'str'>
print(type(c1))
v2 = ['a', 'b']
print(type(v2))   # <class 'list'>

<class 'str'>
<class 'str'>
<class 'list'>

In [91]:
def count(v1):
    v2 = len(v1)   
    if v2 % 2 == 1:    
        v3=v2//2 
        return v1[v3:v3+1]
    else:
        v3 = v2//2 - 1   
        return v1[v3:v3+2]


count('school')

'ho'

**미션3. 임금 계산해 보기**

사용자에게 근무 시간과 시간당 임금을 물어보고, 주당 근무 시간이 40시간을 넘으면 1.5배의 임금을 지급해야 한다고 가정할 경우<br> 
이번주에 받는 총임금을 계산하는 프로그램을 만들어 보자

In [3]:
#근무시간 = t
#시간당 임금 = w 


def work_time(t, w):
    if t<40:
        return(t*w)
    if t>=40:
        t2=int(t-40)
        return((40*w)+(t2*w*1.5))
        
work_time(41, 9000)

373500.0

In [4]:
work_time(40, 9000)

360000.0

## 반복문

In [24]:
multi = [1, 2, 3, 4, 5]
print(multi)
print(type(multi))
print(multi[4])
print(multi[4], ',', multi[0])

[1, 2, 3, 4, 5]
<class 'list'>
5
5 , 1

In [29]:
# 다수의 데이터가 존재할 경우 하나씩 하나씩 뽑아서 화면에 출력
# 다수의 데이터가 있어야 하고 -> 하나씩 뽑은 데이터를 관리하는 변수 -> 출력

# 다수의 데이터 = multi
# 뽑은 데이터 보유 변수 = one

multi = [1, 2, 3, 4, 5]

for one in multi:
    print(one)

1
2
3
4
5

In [31]:
for one in multi:             # for 변수 in 데이터
    print(one, end=' ')  #반복하면서 한 line에 데이터 출력 가능한 속성

1 2 3 4 5

In [34]:
for one in multi:
    print(one, end='.')  #반복하면서 한 line에 데이터 출력 가능한 속성

1.2.3.4.5.

In [35]:
# 0-100 까지의 101개의 숫자값을 출력 line 단위로
# range() : 일정 범위의 숫자값을 자동 생성해 주는 함수 

for data in range(5):
    print(data)

0
1
2
3
4

In [41]:
# 0-100 까지의 101개의 숫자값을 출력 line 단위로
# range() : 일정 범위의 숫자값을 자동 생성해 주는 함수 


for data in range(1, 6):
    print(data, end=' ')

1 2 3 4 5

In [46]:
# 0-100 까지의 101개의 숫자값을 출력 line 단위로
# range() : 일정 범위의 숫자값을 자동 생성해 주는 함수 
# range(처음시작숫자, 마지막숫자, 점프단위)

for data in range(1, 6, 2):
    print(data, )

1
3
5

In [51]:
for i in range(9): 
    if i > 3:
        break   # 반복문 종료

    print(i)

0
1
2

In [56]:
for i in range(9): 
    if i > 3:
        print('- ', i)
        continue  # 반복문 파괴가 아닌 해당 조건 실행만 skip

    print(i)

0
1
2
3
-  4
-  5
-  6
-  7
-  8

In [55]:
for i in range(9):
    if i == 3:
        continue
 
    print(i)

0
1
2
4
5
6
7
8

In [61]:
# 가변적인 입력 숫자값(재사용성)으로
# 입력 숫자값으로 range 함수 에 적용해서 그 수만큼 반보거
# 단, 만일 반복되는 데이터가 5인 경우에만 skip = if continue


# 구현
def my_for(v):
    for d in range(v):
        if d==5:
            continue
        print(d)

In [63]:
#구현된 함수 호출
my_for(10)

0
1
2
3
4
6
7
8
9

In [ ]:
# if문과 for 생각해서 문제 만들기
#????
# 장바구니 목록에서 금액에서 어떤걸 2개를 뺄지

item

def howmuch(m):
    for m in range(501, 3001, 500):
        if m>5000:
            break

In [70]:

    for m in range(501, 3001, 500): 
        if m>5000:
            break
print(m)

2501

In [86]:
# 변수설정
limit_budget = 20
a = [3, 2, 1, 4, 5, 6]
sum = 0

# 장바구니 물건들의 가격합산
for money in a:
    sum += money     # a리스트 안의 모든 값을 더함
    
    print(sum)
    
if sum>limit_buget :
    a.sort()    # a라는 리스트를 오름차순으로 정렬
    print(a)
    
    for i in a:
        sum = sum-i
        if sum<=limit_budget:
            break
            
print('check', sum)

3
5
6
10
15
21
[1, 2, 3, 4, 5, 6]
check 20

미션1)

A와 B가 카드를 뽑아 큰 수를 뽑는 사람이 이기는 게임을 5번 진행했다.
각 게임마다 카드를 제시하여 큰 숫자를 제시한 사람이 이기는 게임이다.
게임에서 이긴 


미션2)

장을 보러 가기로 했다. 
예산은 2만원이고 살 물건들의 가격 목록은 아래 a 리스트와 같다. 
살 물건들의 가격 합이 예산을 넘지 않는지 확인하고 예산을 넘지 않는다면 최종결제금액 출력하라.

a = [3000, 2000, 1000, 4000, 5000, 6000]

**미션 - 숫자로 pyramid 만들기**

- 중첩 for문과 range() 함수 활용
- 함수로 구현

In [117]:
def pyramid(v):
    for data in range(1, v+1):    # outer loop
        
        for j in range(data):     # inner loop
            print(data, end='')
            
        print()      # blank new line, outer loop에 포함된 로직

In [118]:
def pyramid2(v):
    for data in range(1, v+1):
        for i in range(data):
            print(data, end='')
        print()

In [119]:
pyramid2(2)

1
22

In [138]:
pyramid(5)

1
22
333
4444
55555

In [139]:
num = int(input("피라미드의 층 수를 입력하세요 : "))
line_num = num*2 -1
pyramid_num = 1
for line_idx in range(line_num) :
    if line_idx < line_num // 2 :
        for idx in range(line_idx+1) :
            print(pyramid_num, end = "\t")
            pyramid_num += 1
    else :
        for idx in range(line_num - line_idx) :
            print(pyramid_num, end = "\t")
            pyramid_num += 1
    print("\n")

피라미드의 층 수를 입력하세요 : 5
1

2	3

4	5	6

7	8	9	10

11	12	13	14	15

16	17	18	19

20	21	22

23	24

25

**미션- 팩토리얼 계산하기**
>반복문을 활용하여 팩토리얼 계산해 보기<br>
for문과 while문을 활용하여 각각 만들어 보기<br>
팩토리얼 n!은 1~n까지의 정수를 모두 곱한 것을 의미한다<br>
n! = 1*2*3*...(n-1)*n

>힌트 : range() 함수를 이용

In [134]:
n = 3
fact = 5

for i in range(1, n+1):    #1, 2, 3
    fact = fact * i        #5*1=5, 5*2=10, 10*3=30
    
    
print(fact)

30

In [137]:
n = 5
fact = 1

for i in range(1, n+1):      #  1 2 3 반복
    fact = fact * i         # 1*1=1, 1*2*2, 2*3=6
    
    
print(n, '!은', fact)

5 !은 120

**미션-계좌번호 처리하기**

> 인터넷 뱅킹을 사용하다보면 계좌번호를 입력할 때, "312-02-1234567"과 사용자로부터 "-"가 포함된 계좌 번호를 받아서 "-"을 삭제한 문자열을 만들어보자.

In [154]:
data = 'string'

# 문자열도 반복문에 적용 가능
# 문자열의 철자 개수 만큼 반복해서 하나씩 뽑음

for v in data:
    print(v, end='')   

# 출력 + new line 자동 반영(new line 무시표현 : end='')

string

In [ ]:
data = 'string'
new_data = ''

for v in data:
    new_data = new_data + v
        
print(new_data)

문자열 데이터 획득 -> 문자열을 철자 하나하나씩 뽑아(for) -> -여부 검증(if)
    -> -입니다 또는 -아닙니다(==비교)
    -: 지우기..?
    - 아닌경우 : 유지

In [156]:
raw = '312-02-1234567'

final_data = ''

for v in raw:
    if v != '-':
        final_data = final_data + v

print(final_data)

312021234567

**미션 - 알파벳, 숫자, 스페이스의 처리**

> 문자열을 조사하여서 알파벳 문자의 개수, 숫자의 개수, 스페이스의 개수를 출력하는 프로그램을 작성하라

In [1]:
statement = input("문자열을 입력하시오: ")
alphas = 0
digits = 0
spaces = 0
for c in statement:
    if c.isalpha():
        alphas = alphas + 1
    if c.isdigit():
        digits = digits + 1
    if c.isspace():
          spaces = spaces + 1
print ("알파벳 문자의 개수=", alphas)
print ("숫자 문자의 개수=", digits)
print ("스페이스  문자의 개수=", spaces)

문자열을 입력하시오: test code
알파벳 문자의 개수= 8
숫자 문자의 개수= 0
스페이스  문자의 개수= 1

In [5]:
# 다중 조건식으로 성능 향상을 위해 개선한 코드


statement = input("문자열을 입력하시오: ")
alphas = 0
digits = 0           #초기 데이터값 설정, 0으로 초기화
spaces = 0   
for c in statement:       # statement에 입력한 문자열
    if c.isalpha():       # c.isalpha() : 알파벳검증
        alphas = alphas + 1
    
    elif c.isdigit():     # 숫자 여부 검증 함수
        digits = digits + 1
    
    elif c.isspace():     # space 여부 검증 함수
          spaces = spaces + 1
    else :
        print('특수기호입니다.')
            
print ("알파벳 문자의 개수=", alphas)
print ("숫자 문자의 개수=", digits)
print ("스페이스  문자의 개수=", spaces)

문자열을 입력하시오: 123
알파벳 문자의 개수= 0
숫자 문자의 개수= 3
스페이스  문자의 개수= 0

**실행 결과와 비교해 보면서 분석해 보기**

In [ ]:
for a in range(1, 101, 1):
    for b in range(1, 101, 1):
        for c in range(1, 101, 1):
            if( (a*a+b*b)==c*c ):
                print(a, b, c)

3 4 5
4 3 5
5 12 13
6 8 10
7 24 25
8 6 10
8 15 17
9 12 15
9 40 41
10 24 26
11 60 61
12 5 13
12 9 15
12 16 20
12 35 37
13 84 85
14 48 50
15 8 17
15 20 25
15 36 39
16 12 20
16 30 34
16 63 65
18 24 30
18 80 82
20 15 25
20 21 29
20 48 52
21 20 29
21 28 35
21 72 75
24 7 25
24 10 26
24 18 30
24 32 40
24 45 51
24 70 74
25 60 65
27 36 45
28 21 35
28 45 53
28 96 100
30 16 34
30 40 50
30 72 78
32 24 40
32 60 68
33 44 55
33 56 65
35 12 37
35 84 91
36 15 39
36 27 45
36 48 60
36 77 85
39 52 65
39 80 89
40 9 41
40 30 50
40 42 58
40 75 85
42 40 58
42 56 70
44 33 55
45 24 51
45 28 53
45 60 75
48 14 50
48 20 52
48 36 60
48 55 73
48 64 80
51 68 85
52 39 65
54 72 90
55 48 73
56 33 65
56 42 70
57 76 95
60 11 61
60 25 65
60 32 68
60 45 75
60 63 87
60 80 100
63 16 65
63 60 87
64 48 80
65 72 97
68 51 85
70 24 74
72 21 75
72 30 78
72 54 90
72 65 97
75 40 85
76 57 95
77 36 85
80 18 82
80 39 89
80 60 100
84 13 85
84 35 91
96 28 100